input {
  margin: 20px 0;
  padding: 10px;
  width: 200px;
  font-size: 16px;
  display: block;
}

ul {
  border: 3px solid #0c8c98;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}

li {
  cursor: pointer;
}

p {
  color: rgb(3, 144, 168);
}

p:hover {
  color: red;
}

.container {
  padding: 10px;
  margin: 10px;
  height: 90vh;
}
